.widget-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background:royalblue;
    border: 1px solid black;
    border-radius: 8px;
    max-width: 100%;  /* Allowing it to fit the parent container's width */
    max-height: 100%; /* Allowing it to fit the parent container's height */
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    color: white;
}

.widget-content {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}
.widget-quote {
    font-size: 1.5vw; /* Relative to viewport width */
    color: #110f0f;
    background-color:#228B22;
    text-align:center;
}

/* Media queries for smaller devices */
@media (max-width: 768px) {
    .widget-title {
        font-size: 3vw;
    }
    .widget-quote {
        font-size: 2vw;
    }
}
